.input_dropzone {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.icon_container {
  border-radius: 5px;
  border: 1px solid hsl(226, 13%, 19%);
  background-color: hsl(0, 0%, 100%);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.icon_container svg {
  color: hsl(226, 13%, 19%);
}
.icon_container:hover {
  background-color: hsl(0, 0%, 95%);
}
