.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.required_symbol,
.error_message {
  color: hsl(0, 93%, 40%);
}
.error_message {
  padding: 0;
  margin: 0;
}
.input_label {
  font-weight: 700;
}
.required_symbol {
  font-weight: 700;
  margin-left: 0.1rem;
}
.input {
  height: 40px;
  border: 1px solid hsl(0, 0%, 80%);
  outline: none;
  background-color: hsl(0, 0%, 100%) !important;
  border-radius: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: inherit;
}
.input:disabled {
  background-color: hsl(0, 0%, 97%) !important;
}
