.html_global body {
  padding: 0 !important;
  margin: 0 !important;
  scroll-behavior: auto;
  box-sizing: border-box;
}
.html_global h1,
.html_global p {
  margin: 0;
  padding: 0;
}

.public_bg {
  background-color: hsl(0, 0%, 98%);
}
.public_container {
  min-height: 84vh;
}
.public_container_width {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .public_container_width {
    width: 70%;
  }
}
