.paints_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .paints_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .paints_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.paint_image_bg {
  border-radius: 1rem;
  background-color: black;
}
.paint_card_image {
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
  transition: all 0.3s ease-in-out;
}
.paint_title {
  color: hsl(225, 9%, 18%);
  font-weight: 700;
  text-align: center;
}
.paint_year {
  color: hsl(225, 9%, 18%);
  font-weight: 400;
  text-align: center;
}
.paint_container {
  transition: all 0.3s ease-in-out;
}
.paint_link {
  text-decoration: none;
}
.paint_link:hover {
  text-decoration: underline solid hsl(225, 9%, 18%);
}
.paint_link:hover .paint_card_image {
  opacity: 80%;
}
.paint_link:hover .paint_container {
  scale: 1.02 !important;
}
