.btn {
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
.btn_primary {
  border: 1px solid hsl(226, 13%, 19%);
  background-color: hsl(226, 13%, 19%);
  color: hsl(0, 0%, 100%);
}
.btn_primary:hover {
  background-color: hsl(226, 14%, 36%);
}
.btn_primary:disabled {
  background-color: hsl(226, 9%, 48%);
  cursor: default;
}
.btn_secondary {
  border: 1px solid hsl(226, 13%, 19%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(226, 13%, 19%);
}
.btn_secondary:hover {
  background-color: hsl(226, 14%, 36%);
  color: hsl(0, 0%, 100%);
}
.btn_secondary:disabled {
  background-color: hsl(0, 0%, 95%);
  color: hsl(226, 9%, 48%);
  cursor: default;
}
