.modal {
  position: absolute !important;
  top: 10px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 70%);
  box-shadow: 4px 6px 17px -5px hsla(0, 0%, 0%, 0.75);
  -webkit-box-shadow: 4px 6px 17px -5px hsla(0, 0%, 0%, 0.75);
  -moz-box-shadow: 4px 6px 17px -5px hsla(0, 0%, 0%, 0.75);
}
.modal_title {
  color: hsl(230, 47%, 27%);
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0.5rem !important;
}
.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.modal_body {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalForm_btns {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}
