.admin_form_input_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.admin_form_input {
  width: 48%;
}
.admin_form_buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
